*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #bbb;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child{
    border: none;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: #111;
}

.tur-list{
    background-color: #454545;
    display: block;
    border-right-color: aqua;
    margin: 10px;;
}